.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  text-decoration: underline;
  color: #000;
}

.title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 32px;
}

.eventName {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

.eventDate {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 32px;
}

.reserveTitle {
  font-size: 1.2em;
  margin: 0;
}

.reserveId {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 16px;
}

.seatsTitle {
  font-size: 1.2em;
  margin: 0;
}

.seatsNumbers {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 32px;
}
